pipeline/pipeline_access_keyvault_secret.json
{
	"name": "pipeline_access_keyvault_secret",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://@{pipeline().parameters.p_keyvaultname}.vault.azure.net/secrets/@{pipeline().parameters.p_secretinfo}?api-version=7.5",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_value",
					"value": {
						"value": "@activity('Web1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_keyvaultname": {
				"type": "string",
				"defaultValue": "anjankeyvault"
			},
			"p_secretinfo": {
				"type": "string",
				"defaultValue": "adfdemosecret/5b5a4e2901624532a5f937d137417f60"
			}
		},
		"variables": {
			"var_value": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-09-14T11:57:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}